/* This stylesheet defines the colors and images for the main site 
   and "non-colored" projects.
 */

body {
  background-image: url(resources/bg-js_of_ocaml.jpg);
  background-color: #f7ebed;
}

a {
  color: #6b2361;
}

ul.puces {
  list-style-image: url(resources/puce-js_of_ocaml.png);
}

.puce:before {
  content: url(resources/puce-js_of_ocaml.png);
}

div.contenu {
  box-shadow: 0 0 6px 2px #cac0c2;
}

ul.projectsmenu {
  box-shadow: 1px 3px 3px 2px #acbccb;
}

.projectsmenu li.eliomtools_current a {
  text-shadow: 1px 1px 1px #448;

  background-color: #912f84; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #6b2361, #912f84);
  background-image:    -moz-linear-gradient(top, #6b2361, #912f84);
  background-image:     -ms-linear-gradient(top, #6b2361, #912f84);
  background-image:      -o-linear-gradient(top, #6b2361, #912f84);
  background-image:         linear-gradient(top, #6b2361, #912f84);
}


div.leftbox {
/*  box-shadow: -1px -1px 2px 2px #6d2364 inset;

  background-image: -webkit-linear-gradient(left, #6b2361 50%, #912f84);
  background-image:    -moz-linear-gradient(left, #6b2361 50%, #912f84);
  background-image:     -ms-linear-gradient(left, #6b2361 50%, #912f84);
  background-image:      -o-linear-gradient(left, #6b2361 50%, #912f84);
  background-image:         linear-gradient(left, #6b2361 50%, #912f84);
*/

  background-color: #912f84; /* fallback color if gradients are not supported */

  box-shadow: 0 0 2px 2px #bbb;

  background-image: -webkit-radial-gradient(180px 0, circle farthest-side, rgba(247, 46, 136, 0.7) 0%, rgba(247, 46, 136, 0) 100%),
                    -webkit-linear-gradient(top, #ab338b, #56256b);
  background-image: -moz-radial-gradient(180px 0, circle farthest-side, rgba(247, 46, 136, 0.7) 0%, rgba(247, 46, 136, 0) 100%),
                    -moz-linear-gradient(top, #ab338b, #56256b);
  background-image: -ms-radial-gradient(180px 0, circle farthest-side, rgba(247, 46, 136, 0.7) 0%, rgba(247, 46, 136, 0) 100%),
                    -ms-linear-gradient(top, #ab338b, #56256b);
  background-image: -o-radial-gradient(180px 0, circle farthest-side, rgba(247, 46, 136, 0.7) 0%, rgba(247, 46, 136, 0) 100%),
                    -o-linear-gradient(top, #ab338b, #56256b);
  background-image: radial-gradient(180px 0, circle farthest-side, rgba(247, 46, 136, 0.7) 0%, rgba(247, 46, 136, 0) 100%),
                    linear-gradient(top, #ab338b, #56256b);

}

div.leftbox#leftboxdoc:before {
  content: url(resources/Help-icon-mini.png);
}

div.leftbox#leftboxdownload:before {
  content: url(resources/download-icon-mini.png);
}

div.banner:before {
  content: url(resources/logo-js_of_ocaml-ombre.png);
}

div.banner {
  background-image: url(resources/banniere-js_of_ocaml.png);
  box-shadow: -1px -1px 2px 2px #451951 inset;
  text-shadow: 1px 1px 1px #585;
}

