/* This is the common stylesheet for all projects and the main site.
   Colors and images that are project specific must be defined in
   another stylesheet.
   Take Eliom's css as example for "colored" projects,
   and the main site for "non-colored" project.
 */

@font-face
{
font-family: titlefont;
src: url('resources/Comfortaa_Regular.ttf'),
     url('resources/Comfortaa_Regular.eot') format("opentype"); /* IE */
}

@font-face
{
font-family: boldtitlefont;
src: url('resources/Comfortaa_Bold.ttf'),
     url('resources/Comfortaa_Bold.eot') format("opentype"); /* IE */
}

img {
  border-style: none; /* for old firefox */
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.marge {
  margin-left: 100px;
}

.grandemarge {
  margin-left: 350px;
}

.nomargin {
  margin: 0;
}

.twocol {
  -moz-column-count:3;
  -webkit-column-count:3;
  column-count:3;
}

.threecol {
  -moz-column-count:3;
  -webkit-column-count:3;
  column-count:3;
}

ul.puces {
  list-style-type: square;
}

.puce:before {
  padding: 0 1em 0 0;
  vertical-align: middle;
}

.grossepuce:before {
  content: url(resources/grossepuce.png);
  padding: 11px 1.5em 0 0;
  vertical-align: middle;
}

h1,h2,h3,h4 {
  font-family: boldtitlefont;
  font-weight: normal;
}

.sitetitle {
  position: absolute; /* absolute because all logos do not have the same height 
                         and the top of the content must be at the same position
                         for each site */
  left: 20px;
}

ul {
  padding-left: 1.4em;
  margin: 0.2em 0;
}


a {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  text-decoration: none;
}

.sitetitle a {
  border-style: none;
}

a.big {
  border-bottom-style: none;
  font-family: titlefont;
  font-size: 130%
}

body {
  margin: 0 auto;
  font-family: arial, sans-serif;
  font-size: small;
  color: #343434;
  background-repeat: no-repeat;
  background-position: top center;
}

div.principal {
  position: relative;
  top: 0;
  left: auto;
  width: 980px;
  margin: 0 auto;
  padding: 5px 0;
  border-radius: 12px;
}

div.contenu {
  margin-top: 130px;
  padding-bottom: 50px;

  border-radius: 12px;

  background-color: #fbfbfb;

  background-image: -webkit-linear-gradient(left, #fff 200px, #eaedf4 273px, rgba(255, 255, 255, 0) 274px);
  background-image:    -moz-linear-gradient(left, #fff 200px, #eaedf4 273px, rgba(255, 255, 255, 0) 274px);
  background-image:     -ms-linear-gradient(left, #fff 200px, #eaedf4 273px, rgba(255, 255, 255, 0) 274px);
  background-image:      -o-linear-gradient(left, #fff 200px, #eaedf4 273px, rgba(255, 255, 255, 0) 274px);
  background-image:         linear-gradient(left, #fff 200px, #eaedf4 273px, rgba(255, 255, 255, 0) 274px);

}

ul.projectsmenu {
  position: absolute;
  right: 0;
  top: 30px;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  height: 28px;
  box-shadow: 1px 2px 2px 2px #eee;
}

ul.projectsmenu li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.projectsmenu li a {
  color: white;
  font-weight: bold;
  text-decoration: none;

  display: inline;
  border-left: 1px solid #999;
  border-right: 1px solid #bbb;
  border-bottom-style: none;
  padding: 10px 20px;
  height: 30px;

  background-color: #aaa; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #bbb, #999);
  background-image:    -moz-linear-gradient(top, #bbb, #999);
  background-image:     -ms-linear-gradient(top, #bbb, #999);
  background-image:      -o-linear-gradient(top, #bbb, #999);
  background-image:         linear-gradient(top, #bbb, #999);
}

ul.projectsmenu li a:hover,
ul.projectsmenu li.eliomtools_first a {
  background-color: #bbb; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #999, #bbb);
  background-image:    -moz-linear-gradient(top, #999, #bbb);
  background-image:     -ms-linear-gradient(top, #999, #bbb);
  background-image:      -o-linear-gradient(top, #999, #bbb);
  background-image:         linear-gradient(top, #999, #bbb);
}

ul.projectsmenu li.eliomtools_first a {
  text-shadow: 1px 1px 1px #448;

  border-left-style: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

ul.projectsmenu li.eliomtools_first a:hover {
  background-color: #aaa; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #bbb, #999);
  background-image:    -moz-linear-gradient(top, #bbb, #999);
  background-image:     -ms-linear-gradient(top, #bbb, #999);
  background-image:      -o-linear-gradient(top, #bbb, #999);
  background-image:         linear-gradient(top, #bbb, #999);
}

ul.projectsmenu li.eliomtools_first a:before {
  content: url(resources/home-blanc-mini.png);
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.projectsmenu li.eliomtools_last a {
  border-right-style: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

div.leftcol {
  float: left;
  
  margin: 0;
  padding: 0 20px;
  padding-top: 20px;
  width: 233px;

  border-right: 1px solid #fff;

}

div.colprincipale {
  float: left;

  padding: 120px 20px 0 60px;
  margin: 0;
  width: 625px;
  height: 100%;

  border-left: 1px solid #eaedf4;

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

}

div.contenu:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

div.leftbox {
  position: relative;
  color: white;

  left: -2px;
  width: 216px;
  padding: 2px 20px;
  margin: 12px 0 20px -20px;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

div.leftbox h1,div.leftbox h2,div.leftbox h3,div.leftbox h4,div.leftbox h5,div.leftbox h6 {
  color: white;
}

div.leftbox h2 {
  font-size: 130%;
}

div.leftbox a {
  color: white;
}

div.leftbox#leftboxdoc:before {
  position: absolute;
  left: 215px;
  top: -14px;
}

div.leftbox#leftboxdownload:before {
  position: absolute;
  left: 215px;
  top: -14px;
}

div.news {
  color: #666666;
  padding: 15px 0 0 0;
}

div.news p {
  margin: 0.5em 0;
}

div.news p.date {
  font-size: x-small;
  color: #999;
}

div.news h4 {
  margin: 1.6em 0 0 0;
  padding: 0 0 0 4px;
}

div.news div.importantnews {
  position: relative;
  margin: 1.7em -20px 2.2em -22px;
  padding: 2px 20px;

  border-right-style: none;

  background-color: #eaedf4; /* fallback color if gradients are not supported */

  background-image: -webkit-radial-gradient(180px 50px, circle farthest-side, white 0%, rgba(255, 255, 255, 0) 60%),
                    -webkit-linear-gradient(right, #f3f6fe 23px, #ced1d7 270px);
  background-image: -moz-radial-gradient(180px 50px, circle farthest-side, white 0%, rgba(255, 255, 255, 0) 60%),
                    -moz-linear-gradient(right, #f3f6fe 23px, #ced1d7 270px);
  background-image: -ms-radial-gradient(180px 50px, circle farthest-side, white 0%, rgba(255, 255, 255, 0) 60%),
                    -ms-linear-gradient(right, #f3f6fe 23px, #ced1d7 270px);
  background-image: -o-radial-gradient(180px 50px, circle farthest-side, white 0%, rgba(255, 255, 255, 0) 60%),
                    -o-linear-gradient(right, #f3f6fe 23px, #ced1d7 270px);
  background-image: radial-gradient(180px 50px, circle farthest-side, white 0%, rgba(255, 255, 255, 0) 60%),
                    linear-gradient(right, #f3f6fe 23px, #ced1d7 270px);

  color: #444;

}

div.news div.importantnews:before {
  position: absolute;
  display: block;

  top: -18px;
  right: 0px;
  height: 18px;
  width: 273px;

  background-image: -webkit-linear-gradient(92deg, rgba(218, 221, 228, 1), rgba(218, 221, 228, 0) 14px), -webkit-linear-gradient(left, #fff 200px, #eaedf4 273px);
  background-image: -moz-linear-gradient(92deg, rgba(218, 221, 228, 1), rgba(218, 221, 228, 0) 14px), -webkit-linear-gradient(left, #fff 200px, #eaedf4 273px);
  background-image: -ms-linear-gradient(92deg, rgba(218, 221, 228, 1), rgba(218, 221, 228, 0) 14px), -webkit-linear-gradient(left, #fff 200px, #eaedf4 273px);
  background-image: -o-linear-gradient(92deg, rgba(218, 221, 228, 1), rgba(218, 221, 228, 0) 14px), -webkit-linear-gradient(left, #fff 200px, #eaedf4 273px);
  background-image: linear-gradient(92deg, rgba(218, 221, 228, 1), rgba(218, 221, 228, 0) 14px), -webkit-linear-gradient(left, #fff 200px, #eaedf4 273px);

  border-bottom: 1px solid #eaedf4;
  content: "";
}

div.news div.importantnews:after {
  position: absolute;
  display: block;

  bottom: -18px;
  right: 0;
  height: 18px;
  width: 273px;

  background-image: -webkit-linear-gradient(269deg, rgba(218, 221, 228, 1), rgba(218, 221, 228, 0) 14px), -webkit-linear-gradient(left, #fff 200px, #eaedf4 273px);
  background-image: -moz-linear-gradient(269deg, rgba(218, 221, 228, 1), rgba(218, 221, 228, 0) 14px), -webkit-linear-gradient(left, #fff 200px, #eaedf4 273px);
  background-image: -ms-linear-gradient(269deg, rgba(218, 221, 228, 1), rgba(218, 221, 228, 0) 14px), -webkit-linear-gradient(left, #fff 200px, #eaedf4 273px);
  background-image: -o-linear-gradient(269deg, rgba(218, 221, 228, 1), rgba(218, 221, 228, 0) 14px), -webkit-linear-gradient(left, #fff 200px, #eaedf4 273px);
  background-image: linear-gradient(269deg, rgba(218, 221, 228, 1), rgba(218, 221, 228, 0) 14px), -webkit-linear-gradient(left, #fff 200px, #eaedf4 273px);

  border-top: 1px solid #eaedf4;

  content: "";
}


div.info:after {
  position: relative;
  display: block;

  top: 0px;
  right: -17px;
  height: 18px;
  width: 100%;

  background-image: -webkit-linear-gradient(91deg, rgba(234, 237, 244, 1), rgba(234, 237, 244, 0) 10px);
  background-image: -moz-linear-gradient(91deg, rgba(234, 237, 244, 1), rgba(234, 237, 244, 0) 10px);
  background-image: -ms-linear-gradient(91deg, rgba(234, 237, 244, 1), rgba(234, 237, 244, 0) 10px);
  background-image: -o-linear-gradient(91deg, rgba(234, 237, 244, 1), rgba(234, 237, 244, 0) 10px);
  background-image: linear-gradient(91deg, rgba(234, 237, 244, 1), rgba(234, 237, 244, 0) 10px);

  border-bottom: 1px solid #eaedf4;
  content: "";
}

div.mainbox {
  position: relative;
  top: 0;

  padding: 0 20px 20px 20px;
  margin: 0 20px 10px 0;
  width: 580px;

  border: 1px solid #e9e9e9;
  border-radius: 8px;

  box-shadow: 0 0 20px 0 white inset, 1px 1px 1px 0px #bbb;

  background-color: #dde0e6; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(bottom, #dde0e6, #ffffff);
  background-image:    -moz-linear-gradient(bottom, #dde0e6, #ffffff);
  background-image:     -ms-linear-gradient(bottom, #dde0e6, #ffffff);
  background-image:      -o-linear-gradient(bottom, #dde0e6, #ffffff);
  background-image:         linear-gradient(bottom, #dde0e6, #ffffff);

}

div.mainboxleft {
  float: left;
  width: 265px;
}

div.mainboxright {
  margin-left: 315px;
  width: 265px;
}

div.mediumbox {
  height: 150px;
}

div.smallbox {
  height: 120px;
}

div.mainbox#other {
  margin-bottom: 3em;
}

div.mainbox div.moreinfo {
  font-size: x-small;

  position: absolute;
  top: 0;
  right: -1px;

  border-top-right-radius: 8px;  
  border-bottom-left-radius: 8px;

  background-color: #0283c7;
  box-shadow: -1px -1px 1px 1px #015b8a inset;
}

div.mainbox div.moreinfo a {
  display: inline-block;

  border-style: none;
  color: white;

  width: 86px;
  height: 25px;
  margin: 0;
  padding: 9px 0 0 3px;

}

div.mainbox div.moreinfo p {
  margin: 0;
}

div.mainbox#server div.moreinfo {
  background-color: #d02526;
  box-shadow: -1px -1px 1px 1px #ab1f22 inset;
}

div.mainbox#eliom div.moreinfo {
  background-color: #88bf25;
  box-shadow: -1px -1px 1px 1px #729f20 inset;
}

div.mainbox#lwt div.moreinfo {
  background-color: #e06a08;
  box-shadow: -1px -1px 1px 1px #ba590a inset;
}

div.mainbox#js_of_ocaml div.moreinfo {
  background-color: #912f84;
  box-shadow: -1px -1px 1px 1px #782670 inset;
}

div.footer {
  color: #888;
  padding: 0 30px 4em 30px;
  margin: 2em 0 0 0;
}

div.footer p {
  margin: 0;
}

div.footer a {
  color: #888;
}


div.banner:before {
  position: absolute;
  left: -60px;
  top: -35px;
}

div.banner {
  position: absolute;
  right: 0;
  top: 135px;
  height: 90px;
  width: 620px;
  background-position: top right;
  background-repeat: no-repeat;

  border-top-right-radius: 12px;
}

div.banner p {
  margin: 0;
  padding 0;
}

div.banner span.banner {
  font-family: titlefont;
  font-size: 28px;
  color: white;
  text-shadow: 1px 1px 1px #555;
}

div.banner span.text1 {
  position: absolute;
  right: 265px;
  top: 10px;
}

div.banner span.text2 {
  position: absolute;
  right: 190px;
  top: 40px;
}

img.bannercontentright {
  position: absolute;
  right: 30px;
  top: 25px;
  opacity: 0.8;
}

img.bannercontentleft {
  position: absolute;
  left: 120px;
  top: 25px;
  opacity: 0.8;
}

#connectlink:before {
  content: url(resources/lock.png);
  padding: 0 0.5em 0 0;
  vertical-align: middle;
}

p#presentation {
  text-align: center;
  margin-bottom: 3em;
}

ul.mainmenu {
  text-align: right;
  padding-right: 10px;
  display: block;
}

ul.mainmenu li {
  display: inline-block;
  margin: 0;
  padding: 0 3px;
  border-right: 1px solid white;
  color: #ccc;
}


ul.mainmenu li.eliomtools_last {
  border-right-style: none;
}

ul.mainmenu.eliomtools_level0 {
  font-size: 16px;
  font-family: boldtitlefont;
}

ul.mainmenu.eliomtools_level1 {
  font-size: 14px;
}

ul.mainmenu.eliomtools_level2 {
  font-size: 12px;
}

ul.mainmenu a {
  color: white;
  border-style: none;
  padding: 1px 4px;
  font-weight: normal;
}

ul.mainmenu li.eliomtools_current a,
ul.mainmenu li.eliomtools_current_path a {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-weight: bold;
}

ul.mainmenu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

ul.doctree.eliomtools_menu {
  list-style-type: none;
}

ul.doctree {
  padding: 0;
}

.doctree li {
  padding-left: 1em;
}


ul.doctree.eliomtools_level0 {
  margin: 0;
  padding: 0;
}

ul.doctree.eliomtools_level0 ul {
  border-left-width: 1px;
  border-left-style: dotted;
}


ul.doctree.eliomtools_level0 a {
  font-weight: normal;
  text-decoration: none;
}

ul.doctree.eliomtools_level0>li {
  font-weight: bold;
  padding-bottom: 1em;
}

.doctree ul.eliomtools_level0 ul {
  font-weight: normal;
}

.doctree ul.eliomtools_level1 li.eliomtools_current:before {
  content: url(resources/puce-noire.png);
  vertical-align: middle;
  width: 1em;
  display: inline-block;
}

.doctree ul.eliomtools_level1 li.eliomtools_current {
  padding-left: 0;
}

.doctree li.eliomtools_current,
.doctree li.eliomtools_current a {
  font-weight: bold;
}

h1 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 635px;
  background-color: #05a8e6;
  color: white;
  padding: 5px 0 5px 10px;
  margin: 1em 0 2em 0;
  font-size: 26px;
}

div.colprincipale h2, div.colprincipale h3 {
  color: #007bc2;
}

div.colprincipale h2 {
  font-size: 23px;
}

div.colprincipale h3 {
  font-size: 20px;
}

div.colprincipale h4 {
  font-size: 17px;
  color: #868787;
  border-left: 3px solid #868787;
  padding: 0 0 0 5px;
}

div.ocsforge_sources {
  padding-top: 120px;
  margin: 0 -20px;
}

a[class^=ocsforge_doclink] {
  background-color: #e5f7fd;
  color: #08ade5;
  padding-left: 1px;
  padding-right: 1px;
}

a.ocsforge_doclink_eliom {
  background-color: #eaf3d7;
  color: #8dbf24;
}

a.ocsforge_doclink_ocsigenserver {
  background-color: #f3c4c4;
  color: #d02526;
}

a.ocsforge_doclink_lwt {
  background-color: #fbe3cf;
  color: #e06a0b;
}

a.ocsforge_doclink_js_of_ocaml {
  background-color: #edd7f9;
  color: #8c38bd;
}

div.wip {
  position: relative;
  border: 2px dashed #ce6d0c;
  border-radius: 12px;
  padding: 5px 10px;
  background-color: white;
}

div.wip:before {

  position: absolute;
  top: -2px;
  right: -2px;

  border-top-right-radius: 8px;  
  border-bottom-left-radius: 8px;

  padding: 5px;
  font-weight: bold;
  font-style: italic;

  color: white;
  background-color: #ce6d0c;

  content: "Work in progress";
}

div.concepts:before {
  content: "Concepts";
  font-weight: bold;
  font-style: italic;
}

div.concepts {
  float: right;
  color: white;
  padding: 4px 12px;
  margin: 0 10px;
  border-radius: 12px;
}

pre.ocsforge_codecolor {
  background-color: #eee;
  border-left: 3px solid #ccc;
  padding: 4px 4px 4px 8px;  
}

div.encadre {
  border: 1px solid #08ade5;
  margin: 10px 0 10px;
  border-radius: 12px;
  padding: 0 10px;
}

div.encadre h4 {
  background-color: #08ade5;
  color: white;
  border-style: none;
  margin: 0 -10px 0 -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

